/* .bg-address {
    width: 13px; height: 18px;
    background: url('css_sprites.png') -101px -55px;
}

x
.bg-cart {
    width: 18px; height: 17px;
    background: url('css_sprites.png') -134px -48px;
}

x
.bg-email {
    width: 16px; height: 12px;
    background: url('css_sprites.png') -47px -97px;
}

x
.bg-facebook {
    width: 13px; height: 25px;
    background: url('css_sprites.png') -101px -10px;
}

x
.bg-google {
    width: 25px; height: 21px;
    background: url('css_sprites.png') -55px -56px;
}

x
.bg-insta {
    width: 25px; height: 25px;
    background: url('css_sprites.png') -56px -10px;
}

x
.bg-pinterest {
    width: 26px; height: 26px;
    background: url('css_sprites.png') -10px -10px;
}

x
.bg-search {
    width: 18px; height: 18px;
    background: url('css_sprites.png') -134px -10px;
}

x
.bg-tel {
    width: 17px; height: 17px;
    background: url('css_sprites.png') -10px -97px;
}

x
.bg-telephone {
    width: 11px; height: 11px;
    background: url('css_sprites.png') -83px -97px;
}

x
.bg-twi {
    width: 25px; height: 21px;
    background: url('css_sprites.png') -10px -56px;
}

*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  color: #3f3d3d;
  background-color: #ffffff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.shop-nav {
  margin-bottom: 22px;
  color: #fffafa;
  background-color: #252525;
}

.shop-nav .container {
  display: flex;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.links-list li {
  padding: 8px 0;
  margin-right: 24px;
}

.shop-link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #fffafa;
}

.shop-link:hover,
.shop-link:focus {
  text-decoration: underline;
}

.shop-link:active {
  opacity: 0.5;
}

.phone-numbers {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.number {
  max-width: 160px;
  margin-top: 1px;
}

.call-us {
  position: relative;
  display: block;
  padding: 8px 0;
  padding-left: 30px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #fffafa;
}

.call-us::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 10px;
  left: 8px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
  background-position: -83px -97px;
}

.call-us:hover,
.call-us:focus {
  text-decoration: underline;
}

.call-us:active {
  opacity: 0.5;
}

.header-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.index-logo {
  display: block;
  width: 182px;
  height: 45px;
  margin-top: 19px;
  margin-right: 296px;
}

.for-user {
  width: 460px;
}

.for-user-wrapper {
  display: flex;
  width: 460px;
}

.user-account {
  display: flex;
  width: 180px;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}

.user-account li {
  margin-right: 13px;
}

.user-account li:last-child {
  margin-right: 0;
}

.user {
  display: block;
  padding: 8px 19px;
  text-transform: uppercase;
  color: #3f3d3d;
}

.user:hover,
.user:focus {
  color: #000000;
}

.current-user {
  padding: 6px 19px;
  border: 1px solid #e5e4e2;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
}

.cart-icon {
  display: block;
  width: 130px;
  margin-right: 10px;
  padding: 7px 0;
  padding-left: 30px;
  position: relative;
}

.cart-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 18px;
  height: 17px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
  background-position: -134px -48px;
}

.btn {
  display: block;
  width: 100px;
  padding: 8px 15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.btn:hover,
.btn:focus {
  background-color: #bab1b1;
}

.btn:active {
  transform: translateY(3px);
}

.form-search {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.input-search {
  width: 100%;
  min-height: 40px;
  padding: 6px 19px;
  font: inherit;
  color: #3f3d3d;
  border: 1px solid #e5e4e2;
}

.search-icon  {
  display: block;
  position: relative;
}

.search-icon::before {
  content: "";
  position: absolute;
  right: 12px;
  top: -29px;
  width: 18px;
  height: 18px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
  background-position: -134px -10px;
}

.input-search:hover,
.input-search:focus {
  outline: 0;
  border-color: #bab1b1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item:last-child {
  width: 215px;
}

.navigation-link {
  display: block;
  padding: 13px 25px;
  text-transform: uppercase;
  color: #3f3d3d;
  background-color: #f5f5f5;
}

.current-nav-link {
  padding: 13px 26px;
  background-color: #e4e4e4;
}

.navigation-link:not(.current-nav-link):hover,
.navigation-link:not(.current-nav-link):focus {
  color: #ffffff;
  background-color: #bab1b1;
}

.navigation-link:not(.current-nav-link):active {
  opacity: 0.5;
}

.shop-categories {
  margin-bottom: 65px;
  padding-top: 20px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-item {
  margin-right: 20px;
  margin-bottom: 17px;
}

.categories-item:nth-child(2),
.categories-item:nth-child(3),
.categories-item:nth-child(6), {
  margin-right: 0;
}

.category {
  position: relative;
}

.category img {
  background-color: #e5e4e2;
}

.category-wrapper {
  position: absolute;
  top: 170px;
  left: 108px;
  display: flex;
  flex-direction: column;
}

.sweater {
  top: 115px;
  left: 229px;
}

.t-shirt {
  top: 145px;
  left: 44px;
}

.category-name {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: "Playfair", "Georgia", serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #f9f9f9;
}

.t-shirt .category-name {
  margin-bottom: 16px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 22px;
}

.just-name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-transform: none;
}

.just-name::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -92px;
  width: 30px;
  height: 18px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
}

.glasses::after {
  top: 3px;
  right: -100px;
}

.watches::after {
  right: -81px;
}

.about-category {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #ededed;
}

.category-link {
  display: block;
  width: 120px;
  margin-left: 60px;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #f9f9f9;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.t-shirt .category-link {
  margin-left: 65px;
}

.category-link:hover,
.category-link:focus {
  border-color: #3f3d3d;
}

.just-name:hover,
.just-name:focus {
  text-decoration: underline;
}
